.footer {
  background-color: rgba(32, 27, 33, 0.2);
  backdrop-filter: blur(15px);
  color: white;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
