.footer {
    background-color: rgba(16, 15, 16, 0.8);
    backdrop-filter: opacity(5px);
    color: white;
    padding: 20px 0px 20px 0px;
    text-align: center;
    border-top: 1px solid white;
    width: 100%;
}