.footer {
    background-color: rgba(32,27,33,0.2);
    backdrop-filter: blur(15px);
    color: white;
    padding: 22px 0px 22px 0px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}