.background {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }
  
  .svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97vw;
    height: 100vh;
    margin: auto;

  }
  
  .dot {
    fill: rgb(255, 255, 255);
  }

  